@font-face {
  font-family: 'Helvetica';
  src: url(Helvetica.ttf);
}

@font-face {
    font-family: 'HelveticaB';
    src: url(/helvetica-bold.ttf);
  }

  @font-face {
    font-family: abcSimon;
    src: url(ABCSimonMono-Regular-Trial.woff);
  }
  
  @font-face {
    font-family: BrushScript;
    src: url(BrushScriptStd.otf);
  }

  @font-face {
    font-family: Eurostile;
    src: url(EurostileBold.ttf);
  }

  @font-face {
    font-family: Picnic;
    src: url(PicNic-Regular.otf);
  }

  @font-face {
    font-family: Amelia;
    src: url(AmeliaRegular.ttf);
  }

  @font-face {
    font-family: Yale;
    src: url(FilmotypeYale.otf);
  }

  ::selection {
    background: #ffb7b7; /* WebKit/Blink Browsers */
  }
  ::-moz-selection {
    background: #ffb7b7; /* Gecko Browsers */
  }

  /* Hover CSS - start */

  /* Pulse */
@-webkit-keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
@keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
.hvr-pulse {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-pulse:hover, .hvr-pulse:focus, .hvr-pulse:active {
  -webkit-animation-name: hvr-pulse;
  animation-name: hvr-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

/* Bob */
@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

/* Hover CSS - End */

  html{
    font-size:16px;
    scroll-behavior: smooth;
  }

  body{
    font-family: 'Helvetica';
    margin:0;
  }
  a{
    color:#000;
  }

  .fixed{
    left: 0;
    -webkit-overflow-scrolling: touch;
    position: fixed;
    top: 0;
    width: 100%;
  }

  .flex{
    display:flex;
  }

  .between{
    justify-content: space-between;
  }

  p{
    margin-block-start: 0 !important;
    margin-block-end: 1em !important;
  }

  .eventTitle p, h2, h3{
    margin-block-start: 0 !important;
    margin-block-end: 0 !important;
  }

  .homepagebg{
    background-color:  rgba(78, 78, 78, 1);
    width:100vw;
    height:100vh;
    left:0;
    position:fixed;
  }

header{
  font-family: 'HelveticaB';
    display:flex;
    justify-content: space-between;
    width:98vw;
    z-index:10;
    padding: 1vh 1vw 1vh 1vw;
    align-items: center;
}

header .selected1,
header .selected2,
header .selected3,
header .selected4{
  visibility:hidden;
}

.indexPage .selected1,
.storiesPage .selected2,
.aboutPage .selected3,
.eventsPage .selected4{
  visibility: visible !important;
}

.homePage header{
    position:fixed;

}

a{
    text-decoration:none;
}

h1{
    font-size:2.5em;
    margin-block-start: 0;
    margin-block-end: 0;
}

h1 a{
    color: #000 !important;
}

nav{
    line-height:1.8;
    font-size: 1.1rem;
}

.linkgroup, .link{
    cursor:pointer;
}

.checkbox{
    display:flex;
    justify-content: space-between;
    width: 50px;
    margin-right: 1vw;

}

.checkbox img{
  width:30px;
  height:30px;
}

.itemheader .checkbox img{
  width: 20px;
  height: 20px;
}

.checkbox2{
  display:flex;
  justify-content: space-between;
  width: auto;
}

.gr1, .gr2{
    display:flex;
    height:35px;
}

.lt{
    margin-right:1vw;
    display:flex;
    width:174px;
}

.rt{
    display:flex;
    margin-right:1vw;
}

.cloud{
    position:fixed;
    top:0;
    left:0;
    height:100vh;
    width:100vw;
    background-color:#deefb7;
    filter: drop-shadow(0px 4px 30px rgba(0, 0, 0, 0.25));
/* border-radius: 0px 0px 200px 0px; */
}

.tag-gr{
    position: fixed;
    bottom: 2vh;
    display: flex;
    padding: 0 1vw;
    font-size: 1.25em;
    width:100vw;
}

.tag{
    background: #FFFFFF;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 35px;
padding: 12px 40px;
margin-right: 15px;
width: fit-content;
height: fit-content;
}

.tag a{
    text-decoration:none;
    color:#000;
}

.region{
    font-family: BrushScript;
  }

  .time{
    font-family: abcSimon; 
  }

  .topic{
    font-family: Eurostile;
  }

  .type{
    font-family: Picnic;
  }

  .filtercontainer{
    border-bottom:1px solid black;

  }

  .headercontainer{
    position: fixed;
    top: 0;
    background-color: #fff;
  }

  .add::after{
    content: '  ⬇ ';
  }

  .minus::after{
    content: '  ⬆  ';
  }

.filterheaders,
.filteredButtons{
  display: flex;
  /* justify-content: space-around;
  padding: 15px 25vw; */
  border-bottom:1px solid black;
  padding:5px 0vw;

}

.filterheaders div,
.filterheaders button,
.filteredButtons button{
  padding: 1vh 1.5vh;
  line-height:1;
  border-radius:1em;
  /* font-family: HelveticaB; */
  font-size:1.3rem;
  cursor: pointer;
  border: none;
  cursor: pointer;
  background-color: #ffffff;
}

.filterheaders button:hover,
.filterheaders button:active{
  background-color: #efd673;
}

.b2:hover{
  background-color: #73ef84;
}

.b3:hover{
  background-color: #73daef;

}

.drawerpreview{
  position: fixed;
  left: 0;
  bottom: 0vh;
  width: 100vw;
  height: 0.1vh;
  transform: scaleY(0);   
  border-top: 50px solid #e4fbffeb;
  background-color: #e4fbffeb;  
  transform-origin: bottom;
  transition: transform 0.26s ease;
  /* z-index:200 !important; */
  box-shadow: 0 0 14px 6px rgb(0 0 0 / 30%) !important;

}

.EZDrawer__overlay{
   /* opacity: 0.0 !important;  */
   z-index: 100;
   background-color: #cce8eb !important;

}

.EZDrawer .EZDrawer__container{
  border-top: 20px solid #e4fbffeb;
  background-color: #e4fbffeb !important; 
  height: 80vh !important;
  box-shadow: 0 0 14px 6px rgb(0 0 0 / 30%) !important;
  overflow:auto;
}

.columnHeader{
  width: 98vw;
  margin: 2vh 2vw;
  font-size: 1.3rem;
}

.columnContainers{
  display: flex;
  /* column-count: 3; */
  width: 98vw;
  /* justify-content: space-around; */
  margin: 2vh 1vw;
  height: 75vh;
  overflow: auto;
}

/* width */
.columnContainers::-webkit-scrollbar {
  width: 30px;
}

/* Track */
.columnContainers::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px grey; 
  border-radius: 10px;
}
 
/* Handle */
.columnContainers::-webkit-scrollbar-thumb {
  background: #000; 
  border-radius: 100px;
}

/* Handle on hover */
.columnContainers::-webkit-scrollbar-thumb:hover {
  background: #000; 
}


.col1a, .col2a, .col3a{
  width:28vw;
  height: 80vh;
}

.col1a{
  border-right: 2px solid black;
  padding-right: 2vw;
}

.col2a{
  padding: 0 2vw;
  border-right: 2px solid black;
}

.col3a{
  padding-left: 2vw;
}

.list {
  display: flex;
  flex-direction: column;
  margin-bottom:5vh;
}

.heading{
  font-size: 1.5rem;
  letter-spacing: 0.25rem;
}

.list a {
  color: black;
  font-size: 3.5rem;
  line-height: 1.5;
}

.list a:hover{
  color: #fc5f5f;
}

.filtercontainer .list{
  margin-bottom:4vh;
}

.arrow {
  position: fixed;
  top: 5vh;
  left: 92vw;
}

.arrow img{
  cursor:pointer;
}

.filteredButtons{
  margin:130px auto 5vh auto;
  width:100vw;
  border-bottom:1px solid black;

}

.hiddenzero{
  display:none;
}

.showall{
  display:block;
}

.workGrid{
  margin:160px auto 5vh auto;
  width:98vw;
}

.workCard {
  display: flex;
  flex-direction: column;
    transition: all 0.25s;
    font-size:1.2em;

}
/* 
.workContainer, .workContainer img{
  width: 100% !important;
} */

.workCard:hover{
}

.workCard img{
  margin-bottom:10px;
  transition: all 0.25s;
  cursor:pointer;
}

.workCard img:hover{
  box-shadow: 0px 4px 11px 3px rgb(0 0 0 / 55%);
}

.submitMore{
  margin-top: 3vh;
  transition: all 0.25s;
  cursor:pointer;

}

.submitMore:hover{
  margin-top:1vh;
}


/* about Page */

.indexPage header,
.storiesPage header,
.itemPage header,
.aboutPage header,
.eventsPage header{
    border-bottom:1px solid black;
}

.aboutPage .container{
  background-color: #F0FBAC;
}

.aboutPage .container a{
  color: #000;
  text-decoration:underline;
}

.textblock{
  border-bottom:2px solid black;
  padding: 1vw 0;
}

.textblock1{
  border-bottom:2px solid black;
}

.aboutblock{
  display:flex;
  flex-direction:row-reverse;
}

.about1col1{
  width: 65vw;
  border-right: 2px solid black;
}

.megaintro{
  padding: 1vw 0 0 1vw;
  font-size: 2.25rem;
  margin-right: 1vw;
  line-height: 1.4;
}

.about1columns, .textbody{
  font-size: 1.4rem;
}

.about1columns{
  margin-right: 1vw;
  column-count: 2;
  line-height: 1.4;
  column-gap: 30px;
  padding: 0 1vw 1vw 1vw;
}

.aboutheader{
  margin-left: auto;
  padding: 1vw;
}

.textbody{
  padding: 0 1vw 1vw 1vw;
  line-height:1.4;
}

.col2{
  display:flex;
}

.cola, .colb{
  width:50vw;
}

.colb{
  border-left:2px solid black;
}

.logos{
  display: flex;
  align-content: flex-start;
  align-items: center;
  margin-bottom:1vw;
}

.logos img{
  padding-right:1vw !important;
}

/* events page */

.eventsPage .container{
  background-color: #CDFDD2;
}

.future{
  background-color: #CDFDD2;
}

.past{
  background-color: #ECFFEE;
}

.eventsPage h2 {
  color: #ff6038;
  font-family: BrushScript;
  font-size: 6rem;
  font-weight: 500;
  -webkit-text-stroke: 1px #ff6038;
  paint-order: stroke fill;
  line-height: 5rem;
  padding: 1.5vw;
}

.eventsPage h2 p{
  margin-block-end: 0 !important;
}


.eventsPage h3{
  font-family: Yale !important;
font-size:4rem;
padding: 1vw;
border-top:1px solid black;
border-bottom:1px solid black;
}

.eventGrid{
  display: inline-grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  width:100vw;
}

.hidden{
  opacity: 0;
}

.singleevent{
  border: 1px solid #222;
  padding: 1vw 1vw 2vh 1vw;
  min-height: 400px;
  font-size: 30px;
}

.upcoming .singleevent:first-child{
  background-color: #f9fbba;
}

.eventTitle{
  font-family: 'HelveticaB';

}

.eventTitle, .eventTime{
  font-size: 2.25rem;
  line-height: 1.4;
}

.eventUrl{
  width: fit-content;
  padding: 0.75vw 3vw;
  border: 2px solid black;
  border-radius: 100px;
  color: black;
  text-align:center;
  transition: all 0.5s;
}

.eventUrl:hover{
  background-color:#000;
}

.eventUrl a{
  color:black;
}

.eventUrl:hover a{
  color: #FF6489;
}

/* item page */

/* IIIF Viewer settings - start */

/* .clover-iiif{
  height: auto !important;
} */


.clover-iiif header {
  width: 73vw;
}

/* .clover-content{
  height: 90vh;
}

.c-heKnQH-ikYCTc-css {
  background-color: rgb(230, 232, 235);
  height: 90vh !important;
}

.openseadragon-container {
  height: 90vh !important;
} */


/* IIIF Viewer settings - end */


.itemPage .Container{
  width: 98vw;
  margin: 1vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}



.itemPage .Container .left{
  width: 75vw;
  margin-right: 1vw;
}

.itemh2{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}


.itemheader{
  display: flex;
  font-family: 'HelveticaB';
  font-size:1rem;

}

.itemheader .flex:first-of-type{
  margin-right: 50px;
}

.itemPage .Container .right{
width:380px;
border-left:1px solid black;
padding-left:25px;
}

.metacontainer{
  padding-bottom: 25px;
}

.metacontainer p{
  margin-block-end: 0em !important;
}

.itemtitle{
  font-size:2rem;
  font-family: 'HelveticaB';
}

.itemtitle, .itemheader{
  margin-bottom: 25px;
}

.itemPage h3{
  font-size:1rem;
  font-family: 'HelveticaB';
  padding-bottom:15px;
}

.similarContainer{
  display:flex;
}

.similarThumb{
  width: 5vw;
  height: 5vw;
  margin-right: 12px;
  overflow: hidden;
} 

.similarThumb img {
  width: 10vw;
  margin-left: 50%;
  transform: translateX(-50%)translateY(-50%);
  margin-top: 50%;
  overflow: hidden;
}

div[role=radiogroup]{
  flex-direction: column;
  height:80vh;
}
.c-gKYThq{
  flex-direction:row !important;
}

.c-heKnQH-ijqASy-css{
  width:50vw;
  height: 1100px;
}

.c-gPRcLX figure {
  margin: 0px;
  width: 10vw;
}

/* footer */

footer{
  border-top: 1px solid black;
  padding: 3vh 1vw 10vh 1vw;
}

.footertitle{
  font-family: 'HelveticaB';
  margin-bottom:5vh;
}

footer .left{
  width:48vw;
  padding-right:2vw;
}

.footerheader{
  margin-bottom:25px;
}

footer .menulinks a{
  font-family: Yale;
  font-size:4rem;
  font-weight:500;
  -webkit-text-stroke: 2px #000;
  color:#000;
  paint-order: stroke fill;
  line-height: 4rem;
}

.top-to-btm img{
  cursor: pointer;
}


/* Index Page */

.ovalsticker{
  width: 22vw;
  height: 15vh;
background: #FAEF8D;
box-shadow: 0px 3.0666px 3.0666px rgba(0, 0, 0, 0.25);
position: fixed;
z-index: 100;
left: 30px;
bottom: 100px;
border-radius: 100%;
color: #08d8bc;
font-family: Yale;
display: flex;
align-items: center;
justify-content: center;
cursor: pointer;
}

.ovalsticker a{
  color: #08d8bc;

}

.ovaltext{
  font-size: 4.5vw;
  line-height: 1;
  font-weight: bold;
}

.sayhi{
  position: fixed;
  z-index: 10;
  top: 100px;
  right: 50px;
  cursor: pointer;
  width:18vw;

}

.sayhi img {
  width: 18vw;
  height: auto;
}

/* bubbles */

.bubble{
  position:fixed;
  cursor:pointer;
}



.bubble .label{
  width: fit-content;
  position: absolute;
  background-color: #A1FF99;
  z-index: 100;
  padding: 0.75vw;
  font-size: 1.3em;
  line-height: 1;
  box-shadow: 0px 8px 8px rgb(0 0 0 / 25%);
}

/* .bubble1{
  bottom: 32vh;
  left: 3vw;
} */

.bubble1 .label{ 
  top: 50%;
  left: 90%; 
}

.bubble1 .label,
.bubble1 .innerimg{
  display:none
}

@keyframes allopacity {
  0% {
opacity:0;
  }
  30% {
    opacity:0;
  }
  68% {
    opacity:0;
  }
  80% {
    opacity:0%;
  }
  100%{
    opacity:100%;
  }
}

.bubble1 .label:first-of-type{
display:block;
/* animation: allopacity 1s; */
}

.bubble1 .innerimg:nth-of-type(2){
  display:block;
  /* animation: allopacity 1s; */

  }
/* 
.bubble2{
  bottom: 58vh;
  left: 25vw;
} */

.bubble2 .label{ 
  top: 50%;
  left: 90%;
}

/* .bubble3{
  bottom: 40vh;
  right: 25vw;
} */

.bubble3 .label{
  top: 20%;
  left: 80%;
}

/* .bubble4{

  bottom: 20vh;
  right: 2vw;

} */

.bubble4 .label{
  left: 80%;
  top: 65%;
}

/* Connect popup */

.connectBtn{
  position: fixed;
  right: -10px;
  bottom: -10px;
  padding: 2vh 3.5vw 3.5vh 2vw;
  /* bottom: 3vh; */
  font-family: 'HelveticaB';
  z-index: 100;
  font-size: 2.15em;
  cursor: pointer;
  background-color: #ffffff;
  border: 1px solid black;
}

.homePage .connectBtn{
  background-color: transparent;
  border: 0px solid black;
}

.swal2-container.swal2-backdrop-show{
  background:rgba(0,0,0,0) !important;
}

.swal2-container{
  padding:0 !important;
}

.swal2-popup{
  border-radius:0 !important;
}

.swal2-title,
.swal2-html-container{
  text-align:left !important;
  font-family: 'HelveticaB' !important;
}

.swal2-title{
  padding: 25px !important;
  font-size:1rem !important;
  color: #000 !important;
}

.swal2-html-container{
  margin:25px !important;
  font-size:2rem !important;
}

.swal2-actions{
  position:fixed !important;
  right:0 !important;
  margin:10px !important;
}

.swal2-styled.swal2-confirm{
  color: #000 !important;
  font-size: 2rem !important;
}

.swal2-styled{
  padding: 0 !important;
}

.bubble .innerimg{
  width: 19vw;
  height: 19vw;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  box-shadow: inset 10px -10px 14px 10px rgb(0 0 0 / 25%);
}

.bubble .innerimg img{
  min-height: 420px;
  min-width:420px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: inset 15px -2px 9px 11px rgb(27 27 27 / 37%);
  z-index: -1;
}

@media only screen and (min-width: 2100px) {

  .bubble .innerimg{
    width: 420px;
    height: 420px;
  }
  
  
}

@media only screen and (max-width: 2100px) and (min-width: 1800px) {

  .bubble .innerimg{
    width: 350px;
    height: 350px;
  }
  
  
}

@media only screen and (max-width: 1800px) and (min-width: 1500px) {

  .bubble .innerimg{
    width: 300px;
    height: 300px;
  }
  
  
}


@media only screen and (max-width: 1500px) and (min-width: 1000px) {

  .bubble .innerimg{
    width: 220px;
    height: 220px;
  }
  
  
}


@media only screen and (max-width: 1000px) {

  
  .aboutblock{
    display:block;
  }
  .about1col1{
    width:100vw;
  }
  .about1columns{
    column-count: 1;
  }
  .col2{
    display:block;
  }
  .cola, .colb{
    width:100vw;
  }
  .colb{
    border-left:none;
    border-top:2px solid black;
  }

  .eventGrid{
    display:unset;
  }

  .eventsPage h2,
  .eventsPage h3{
    padding:2vw;
  }

  .singleevent{
    min-height:unset;
    padding: 5vw 1vw;
  }
}

@media only screen and (max-width: 900px) {

  .workGrid {
    margin: 185px auto 5vh auto;}

    
.workContainer, .workContainer img{
  width: 47vw !important;
}

}



@media only screen and (max-width: 700px) {


.workContainer, .workContainer img{
  width: 96vw !important;
}

}
